
body {
  text-align: center;
  background-color: rgb(205, 116, 147);
  
}
button {
  background-color: rgb(206, 91, 91); /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

h2 {
  font-size:100px;
}

h3 {
  font-size:100px;
}
