
body {
  text-align: center;
  background-color: rgb(205, 116, 147);
}

.button {
  background-color: #04AA6D; /* Green */
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  border: none;
}

.button2 {
  background-color: #f44336; /* Red */
}

.h3 {
  text-size: 60px;
  
  
}



