
body {
  text-align: center;
  background-color: rgb(205, 116, 147);
  text-decoration: none;
}

.button1 {
  text-decoration: none;
}

.button2 {
  background-color: #f44336; /* Red */
}

h3 {
  text-size: 200px;
  
  
}

h4 {
  text-size: 200px;

  
}




